:host {
  display: block;
}

:host::before {
  background-image: none;
  background-position: center;
  background-size: cover;
  content: '';
  height: calc(100vh - var(--menu-height) - var(--titlebar-height));
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: var(--titlebar-height);
  transition: opacity 500ms ease-in-out;
  z-index: -1;
}

:host(.page-container-background)::before {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

:host::after {
  background-color: var(--background-primary);
  content: '';
  height: calc(100vh - var(--menu-height) - var(--titlebar-height));
  left: 0;
  position: fixed;
  right: 0;
  top: var(--titlebar-height);
  z-index: -2;
}

@media screen and (min-width: 769px) {
  :host::before,
  :host::after {
    bottom: 0;
    height: calc(100vh - var(--titlebar-height));
    left: var(--menu-width-tablet);
  }
}

:host([data-room-name="Abstellraum"])::before {
  background-image: url('images/background/abstellraum.png');
}
:host([data-room-name="Arbeitszimmer"])::before {
  background-image: url('images/background/arbeitszimmer.png');
}
:host([data-room-name="Duschbad"])::before {
  background-image: url('images/background/duschbad.png');
}
:host([data-room-name="Esszimmer"])::before {
  background-image: url('images/background/esszimmer.png');
}
:host([data-room-name="Flur"])::before {
  background-image: url('images/background/flur.png');
}
:host([data-room-name="Global"])::before {
  background-image: url('images/background/global.png');
}
:host([data-room-name="Küche"])::before {
  background-image: url('images/background/kueche.png');
}
:host([data-room-name="Schlafzimmer"])::before {
  background-image: url('images/background/schlafzimmer.png');
}
:host([data-room-name="Testraum"])::before {
  background-image: url('images/background/testraum.png');
}
:host([data-room-name="Wannenbad"])::before {
  background-image: url('images/background/wannenbad.png');
}
:host([data-room-name="Wohnzimmer"])::before {
  background-image: url('images/background/wohnzimmer.png');
}
