::slotted(#single-sensor),
::slotted(#aggregate-value) {
  font-size: var(--font-size-primary);
  font-variant-numeric: tabular-nums;
  font-weight: 700;
  margin: var(--margin);
  margin-left: 0;
  order: 2;
}

::slotted(#trend) {
  font-variant-numeric: tabular-nums;
  margin: var(--margin);
  margin-right: calc(var(--margin) / 2);
  order: 1;
  visibility: visible;
}

::slotted(#trend:empty) {
  visibility: hidden;
}

::slotted(#unit) {
  margin: var(--margin);
  max-width: calc(50% - (var(--margin) * 1.5));
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  bottom: 0;
  right: 0;
}
