:host {
  -webkit-overflow-scrolling: touch;
  background: hsl(var(--background-secondary));
  border-right: 0.5px solid hsl(var(--font-tertiary));
  border-top: none;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: calc(100vh - var(--menu-height) - var(--safe-area-inset-top));
  max-width: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  scrollbar-width: none;
  top: calc(var(--titlebar-height) + var(--safe-area-inset-top));
  transform: translate3d(calc(-100% + var(--menu-swipe, 0px)), 0, 0);
  transition: transform 0.15s ease-out;
  width: var(--menu-width);
  will-change: scroll-position;
  z-index: 2;
}

:host(.menu-active) {
  transform: none;
}

:host(.menu-swipe-active) {
  transition: none;
}

:host::before,
:host::after {
  content: '';
  height: var(--menu-height);
  min-height: var(--menu-height);
}

:host::-webkit-scrollbar {
  display: none;
}

#controls {
  align-items: center;
  display: flex;
  height: var(--menu-height);
  justify-content: space-around;
  margin: var(--menu-height) calc(var(--menu-height) / 4) 0;
}

#dark,
#reload {
  align-items: center;
  background: hsl(var(--background-primary));
  border-radius: 5px;
  border: 0.5px solid hsl(var(--font-tertiary));
  color: hsl(var(--font-primary));
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  height: calc(var(--menu-height) / 1.5);
  justify-content: center;
}

#dark {
  margin-right: calc(var(--menu-height) / 4);
}

#dark:active,
#reload:active {
  background: hsl(var(--font-tertiary));
}

#overlay {
  bottom: 0;
  left: 100%;
  position: fixed;
  top: var(--safe-area-inset-top);
  width: calc(100vw - var(--menu-width));
  z-index: 3;
}

@media screen and (min-width: 769px) {
  :host {
    transform: none;
    transition: none;
  }

  #overlay {
    display: none;
  }
}
