<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="images/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="wurstsalat IoT">
  <link rel="apple-touch-icon" href="images/favicon-192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon-167.png">
  <link rel="apple-touch-icon" sizes="167x167" href="images/favicon-167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicon-167.png">
  <title>wurstsalat IoT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <style>
    * { margin: 0; padding: 0 }
    .items {
      display: flex;
    }
    .component {
      border: 1px solid black;
      border-radius: 5px;
      margin: 10px;
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>
  <div class="root">
    <div class="rooms">
      {% for room in rooms %}
        <div class="room {{ room.name }}">
          <div class="headline">
            <h1>{{ room.name }}</h1>
          </div>
          <div class="items">
            {% for item in room.items %}
              {% include 'component-'~item.attributes.type~'.twig' with {'item': item} %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    <div class="rooms">
    <div class="nav">
      {% for room in rooms %}
        <div class="room">{{ room.name }}</div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
