:host {
  color: var(--font-primary);
  display: block;
  font-family: var(--font);
}

:host([data-category-name])::before {
  background: var(--background-secondary-translucent);
  content: attr(data-category-name);
  display: block;
  font-weight: 600;
  height: 22px;
  left: 0;
  line-height: 22px;
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: var(--titlebar-height);
}

::slotted(.category--content) {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 27px;
}
