:host {
  align-items: center;
  color: hsl(var(--font-secondary));
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: var(--font);
  font-size: 17px;
  height: var(--menu-height);
  padding: 0 10px;
  touch-action: pan-x;
}

:host(.menu--element-active) {
  color: hsl(var(--selection));
}

:host(:active) {
  color: hsl(var(--font-tertiary));
}

:host(.menu--element-separated) {
  padding-left: 5px;
}

:host(.menu--element-separated)::before {
  content: '';
  width: 0.5px;
  height: 100%;
  background: hsl(var(--font-tertiary));
  margin-right: 15px;
}

:host(:first-of-type) {
  padding-left: 15px;
}

:host(:last-of-type) {
  padding-right: 15px;
}

::slotted(span) {
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  :host {
    background: hsl(var(--background-primary));
    border-bottom: 0.5px solid hsl(var(--font-tertiary));
    color: hsl(var(--font-primary));
  }

  :host(.menu--element-active) {
    background: hsl(var(--selection));
    border-top-color: hsl(var(--selection));
    color: hsl(var(--background-primary));
  }

  :host(:active) {
    background: hsl(var(--font-tertiary));
    border-top-color: hsl(var(--font-tertiary));
    color: hsl(var(--font-primary));
  }

  :host(.menu--element-separated) {
    border-top: 0.5px solid hsl(var(--font-tertiary));
    margin-top: var(--menu-height);
  }

  :host(.menu--element-separated)::before {
    display: none;
  }

  :host(:first-of-type) {
    border-top: 0.5px solid hsl(var(--font-tertiary));
    padding-left: 10px;
  }

  :host(:last-of-type) {
    padding-right: 10px;
  }
}
