:host {
  align-items: center;
  color: hsl(var(--font-secondary));
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: var(--font);
  font-size: 17px;
  height: var(--menu-height);
  padding: 0 10px;
  touch-action: pan-x;
}

:host(.menu--element-active) {
  color: hsl(var(--selection));
}

:host(:first-of-type) {
  padding-left: 15px;
}

:host(:last-of-type) {
  padding-right: 15px;
}

::slotted(span) {
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  :host {
    background: hsl(var(--background-primary));
    border-top: 0.5px solid hsl(var(--font-tertiary));
    color: hsl(var(--font-primary));
  }

  :host(.menu--element-active) {
    background: hsl(var(--selection));
    border-top-color: hsl(var(--selection));
    color: hsl(var(--background-primary));
  }

  :host(:first-of-type) {
    padding-left: 10px;
  }

  :host(:last-of-type) {
    border-bottom: 0.5px solid hsl(var(--font-tertiary));
    padding-right: 10px;
  }

  :host(:last-of-type.menu--element-active) {
    border-bottom-color: hsl(var(--selection));
  }
}
