:host([door="open"]),
:host([window="open"]) {
  background: hsla(30, 100%, 50%, var(--translucent));
  color: hsl(var(--black));
}

:host([door="open"]:active),
:host([window="open"]:active) {
  background: hsl(30, 100%, 50%);
}

::slotted(#door),
::slotted(#window) {
  font-size: var(--font-size-primary);
  font-weight: 700;
  margin: var(--margin);
}
