:host {
  --horizontal-count: 3;
  --dimension: calc((100vw - 10px - (var(--horizontal-count) * 10px)) / var(--horizontal-count));

  align-items: center;
  background: hsla(var(--background-tertiary), var(--translucent));
  border-radius: 15px;
  color: hsl(var(--font-primary));
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  height: calc(var(--dimension) * 0.8);
  justify-content: center;
  margin: 5px;
  width: var(--dimension);
}

:host(.control-click) {
  cursor: pointer;
}

:host(.control-click:active) {
  background: hsl(var(--background-tertiary));
}

@media screen and (min-width: 433px) {
  :host {
    --horizontal-count: 4;
  }
}

@media screen and (min-width: 550px) {
  :host {
    --horizontal-count: 5;
  }
}

@media screen and (min-width: 769px) {
  :host {
    --dimension: calc((100vw - var(--menu-width-tablet) - 10px - (var(--horizontal-count) * 10px)) / var(--horizontal-count));
  }
}

@media screen and (min-width: 1025px) {
  :host {
    --horizontal-count: 8;
  }
}

@media screen and (min-width: 1441px) {
  :host {
    --horizontal-count: 10;
  }
}
