:host {
  align-items: center;
  background: #f7f7f8;
  border-bottom: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 44px;
  justify-content: center;
  overflow: hidden;
  padding: 0 8px;
  top: 0;
  width: 100%;
}

:host h1 {
  color: #000;
  font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 600;
}
