:host {
  align-items: center;
  background: hsl(var(--background-secondary));
  border-bottom: 0.5px solid hsl(var(--font-tertiary));
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: var(--titlebar-height);
  justify-content: center;
  overflow: hidden;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: var(--font);
}

#room {
  color: hsl(var(--font-primary));
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

#dark,
#reload,
#wait {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  position: fixed;
}

#dark,
#reload {
  background: hsl(var(--grey-glow));
  cursor: pointer;
  padding: 4px 10px;
  color: hsl(var(--white));
}

#dark {
  left: 10px;
}

#dark:active {
  background: hsl(var(--grey-dark));
}

#reload {
  right: 10px;
  visibility: visible;
}

#reload.active {
  visibility: hidden;
}

#wait {
  color: hsl(var(--font-primary));
  font-size: calc(var(--titlebar-height) - 20px);
  padding-bottom: 2px;
  right: 20px;
  visibility: hidden;
}

#wait.active {
  visibility: visible;
}
