:host {
  align-items: center;
  background: var(--background-secondary);
  border-bottom: 0.5px solid var(--hairline);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: var(--titlebar-height);
  justify-content: center;
  overflow: hidden;
  padding: 0 8px;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: var(--font);
}

#room {
  color: var(--font-primary);
  font-size: 17px;
  font-weight: 600;
}

#dark {
  align-items: center;
  background: #35353F;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  left: 8px;
  padding: 4px 8px;
  position: fixed;
}
