:host {
  background: var(--background-primary);
  display: none;
  min-height: 100%;
  padding: 44px 0;
}

:host(.page-active) {
  display: block;
}

@media screen and (min-width: 769px) {
  :host {
    margin-left: 280px;
  }
}
