:host {
  display: none;
  min-height: calc(100vh - var(--titlebar-height) - var(--menu-height));
  padding: var(--titlebar-height) 0 var(--menu-height);
  z-index: 2;
}

:host(.page-active) {
  display: block;
}

@media screen and (min-width: 769px) {
  :host {
    margin-left: var(--menu-width-tablet);
    min-height: calc(100vh - var(--titlebar-height));
    padding: var(--titlebar-height) 0 0;
  }
}
