:host {
  --padding-side: 5px;
  --padding-bottom: 27px;
  color: hsl(var(--font-primary));
  display: block;
  font-family: var(--font);
}

:host([data-category-name])::before {
  background: hsla(var(--background-secondary), var(--translucent));
  content: attr(data-category-name);
  display: block;
  font-weight: 600;
  height: 22px;
  left: 0;
  line-height: 22px;
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: var(--titlebar-height);
  z-index: 1;
}

::slotted(.category--content) {
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-side) var(--padding-side) var(--padding-bottom);
}
