:host {
  min-height: 100vh;
  width: 100vw;
}

:host::before,
:host::after {
  -webkit-overflow-scrolling: auto;
  bottom: 0;
  content: '';
  display: block;
  height: var(--menu-height);
  position: fixed;
  width: 15px;
  z-index: 3;
}

:host::before {
  background: linear-gradient(
    to right,
    hsl(var(--background-secondary)) 1px,
    hsla(var(--background-secondary), 0) 100%
  );
  padding-left: 1px;
  left: -1px;
}

:host::after {
  background: linear-gradient(
    to left,
    hsl(var(--background-secondary)) 1px,
    hsla(var(--background-secondary), 0) 100%
  );
  padding-right: 1px;
  right: -1px;
}
