:host {
  align-items: center;
  background: hsl(var(--background-primary));
  border-bottom: 0.5px solid hsl(var(--font-tertiary));
  color: hsl(var(--font-primary));
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: var(--font);
  font-size: 17px;
  height: var(--menu-height);
  padding: 0 10px;
  text-transform: capitalize;
}

:host(.menu--element-active) {
  background: hsl(var(--selection));
  border-top-color: hsl(var(--selection));
  color: hsl(var(--background-primary));
}

:host(:active) {
  background: hsl(var(--font-tertiary));
  border-top-color: hsl(var(--font-tertiary));
  color: hsl(var(--font-primary));
}

:host(.menu--element-separated) {
  border-top: 0.5px solid hsl(var(--font-tertiary));
  margin-top: var(--menu-height);
}

:host(:first-of-type) {
  border-top: 0.5px solid hsl(var(--font-tertiary));
}
