:host {
  align-items: center;
  background: hsl(var(--background-secondary));
  border-bottom: 0.5px solid hsl(var(--font-tertiary));
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: var(--titlebar-height);
  justify-content: center;
  overflow: hidden;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: var(--font);
}

#room {
  color: hsl(var(--font-primary));
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

#wait,
#menubutton,
#mapbutton,
#backbutton {
  --margin: calc((var(--titlebar-height) - var(--size)) / 2);
  bottom: 0;
  color: hsl(var(--font-primary));
  cursor: pointer;
  height: var(--size);
  padding: var(--margin);
  position: fixed;
  top: 0;
  width: var(--size);
}

#wait {
  --size: 22px;
  right: 0;
}

#menubutton {
  --size: 28px;
  fill: currentColor;
  left: 0;
  padding-right: var(--size);
}

#mapbutton,
#backbutton {
  --size: 28px;
  fill: currentColor;
  margin-right: calc(var(--size) + var(--margin));
  right: 0;
  padding-left: var(--size);
}

@keyframes wait-outer-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes wait-circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

#wait svg {
  animation: 2s linear infinite wait-outer-animation;
}

#wait circle {
  animation: 1.4s ease-in-out infinite both wait-circle-animation;
  fill: transparent;
  stroke-dasharray: 283;
  stroke-dashoffset: 75;
  stroke-linecap: round;
  stroke-width: 10;
  stroke: currentColor;
  transform-origin: 50% 50%;
}

#wait.hide {
  display: none;
}

#wait.hide ~ #mapbutton,
#wait.hide ~ #backbutton {
  margin-right: 0;
}

#mapbutton.hide {
  display: none;
}

#backbutton.hide {
  display: none;
}

@media screen and (min-width: 769px) {
  #menubutton {
    display: none;
  }
}
