:host {
  display: none;
  min-height: calc(100vh - var(--titlebar-height) - var(--menu-height));
  padding: var(--titlebar-height) 0 var(--menu-height);
  z-index: 2;

  background: hsl(var(--background-primary));
}

:host(.extension-active) {
  display: flex;
}

#svg {
  cursor: zoom-out;
  height: calc(100vh - var(--titlebar-height) - var(--menu-height));
  width: 100vw;
}

#all {
  fill: transparent;
  stroke: none;
  transition: transform 0.75s ease-in-out;
  transform-origin: center;
}

#svg[x-zoom="kueche"] > #all {
  transform: scale(2.5) translate(555px, 510px);
}
#svg[x-zoom="esszimmer"] > #all {
  transform: scale(2.5) translate(155px, 460px);
}
#svg[x-zoom="wohnzimmer"] > #all {
  transform: scale(2.5) translate(-315px, 460px);
}
#svg[x-zoom="balkon"] > #all {
  transform: scale(2.5) translate(-635px, 460px);
}
#svg[x-zoom="schlafzimmer"] > #all {
  transform: scale(2) translate(555px, 70px);
}
#svg[x-zoom="abstellraum"] > #all {
  transform: scale(2.5) translate(145px, 160px);
}
#svg[x-zoom="duschbad"] > #all {
  transform: scale(2.5) translate(145px, -60px);
}
#svg[x-zoom="arbeitszimmer"] > #all {
  transform: scale(2.5) translate(555px, -430px);
}
#svg[x-zoom="wannenbad"] > #all {
  transform: scale(2.5) translate(145px, -370px);
}
#svg[x-zoom="flur"] > #all {
  transform: scale(1.5) translate(290px, -200px);
}

#map {
  stroke: hsl(var(--font-primary));
  stroke-width: 2px;
}

#click {
  cursor: zoom-in;
  fill: transparent;
}
#click > *[x-active] {
  display: none;
}

#shade {
  pointer-events: none;
}
#shade > * {
  fill: hsla(var(--background-primary), 70%);
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
#shade > *[x-active] {
  opacity: 1;
}

#control {
  cursor: default;
}
#control > * {
  display: none;
}
#control > *[x-state] {
  display: block;
}

.grouped > * {
  pointer-events: none;
}

.door[x-state="close"] {
  fill: hsl(125, 100%, 50%);
}
.door[x-state="open"] {
  fill: hsl(0, 100%, 50%);
}

.fan {
  cursor: pointer;
  stroke-width: 4px;
}
.fan[x-state] {
  stroke: hsl(205, 100%, 50%);
}
.fan[x-state="on"] {
  fill: hsl(205, 100%, 50%);
}

.light {
  cursor: pointer;
  stroke-width: 4px;
}
.light[x-state] {
  stroke: hsl(40, 100%, 50%);
}
.light[x-state="on"] {
  fill: hsl(40, 100%, 50%);
}

@media screen and (min-width: 769px) {
  :host {
    margin-left: var(--menu-width-tablet);
    min-height: calc(100vh - var(--titlebar-height));
    padding: var(--titlebar-height) 0 0;
  }

  svg {
    height: calc(100vh - var(--titlebar-height));
    width: calc(100vw - var(--menu-width-tablet));
  }
}
