<div class="component {{ item.attributes.type }}">
{% if item.value %}
    {{ item.value }}
{% else %}
    ---
{% endif %}
{% if item.attributes.displayName == "Temperatur" %}
    &deg;C
{% elseif item.attributes.displayName == "Luftdruck" %}
    hPa
{% elseif item.attributes.displayName == "Helligkeit" %}
    Lux
{% elseif item.attributes.displayName == "Luftfeuchtigkeit" %}
    %
{% else %}
    {{ item.attributes.displayName }}
{% endif %}
</div>