<div class="component {{ item.attributes.type }}"><a href="?action=set&id={{ item.name }}&value={{ not item.value }}">
{{ item.attributes.displayName }}
{% if item.value is same as(true) %}
    on
{% elseif item.value is same as(false) %}
    off
{% else %}
    ???
{% endif %}
</a></div>