<div class="component {{ item.attributes.type }}">
{{ item.attributes.displayName }}
{% if item.value is same as(true) %}
    open
{% elseif item.value is same as(false) %}
    closed
{% else %}
    ???
{% endif %}
</div>
