:host([value="on"]) {
  background: hsla(125, 100%, 50%, var(--translucent));
  color: hsl(var(--black));
}

:host([value="delayed"]) {
  background: hsla(30, 100%, 50%, var(--translucent));
  color: hsl(var(--black));
}

:host([value="triggered"]) {
  background: hsla(0, 100%, 50%, var(--translucent));
  color: hsl(var(--black));
}

:host([value="on"]:active) {
  background: hsl(125, 100%, 50%);
}

:host([value="delayed"]:active) {
  background: hsl(30, 100%, 50%);
}

:host([value="triggered"]:active) {
  background: hsl(0, 100%, 50%);
}

::slotted(#value) {
  font-size: var(--font-size-primary);
  font-weight: 700;
  margin: var(--margin);
}
