:host([value="on"]) {
  background: hsla(40, 100%, 50%, var(--translucent));
  color: hsl(var(--black));
}

:host([value="on"]:active) {
  background: hsl(40, 100%, 50%);
}

::slotted(#value) {
  font-size: var(--font-size-primary);
  font-weight: 700;
  margin: var(--margin);
}
