:host {
  -webkit-overflow-scrolling: touch;
  background: #f7f7f8;
  border-top: 0.5px solid #c4c4c4;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow: scroll;
  position: fixed;
  width: 100%;
  z-index: 1;
}

:host::before,
:host::after {
  bottom: 0;
  content: '';
  display: block;
  height: 44px;
  position: fixed;
  width: 15px;
}

:host::before {
  background: linear-gradient(to right, #f7f7f8, rgba(247, 247, 248, 0));
}

:host::after {
  background: linear-gradient(to left, #f7f7f8, rgba(247, 247, 248, 0));
  right: 0;
}

@media screen and (min-width: 769px) {
  :host {
    border-right: 0.5px solid #c4c4c4;
    border-top: none;
    flex-direction: column;
    height: 100%;
    top: 44px;
    width: 280px;
  }

  :host::before,
  :host::after {
    display: none;
  }
}
