:host {
  -webkit-overflow-scrolling: touch;
  background: hsl(var(--background-secondary));
  border-top: 0.5px solid hsl(var(--font-tertiary));
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin-bottom: -20px;
  overflow: scroll;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

:host::-webkit-scrollbar {
  display: none;
}

:host::before,
:host::after {
  bottom: 0;
  content: '';
  display: block;
  height: 44px;
  position: fixed;
  width: 15px;
}

:host::before {
  background: linear-gradient(
    to right,
    hsl(var(--background-secondary)) 1px,
    hsla(var(--background-secondary), 0) 100%
  );
  padding-left: 1px;
  left: -1px;
}

:host::after {
  background: linear-gradient(
    to left,
    hsl(var(--background-secondary)) 1px,
    hsla(var(--background-secondary), 0) 100%
  );
  padding-right: 1px;
  right: -1px;
}

@media screen and (min-width: 769px) {
  :host {
    border-right: 0.5px solid hsl(var(--font-tertiary));
    border-top: none;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding-top: var(--menu-height);
    top: var(--titlebar-height);
    width: var(--menu-width-tablet);
  }

  :host::before,
  :host::after {
    display: none;
  }
}
